.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task {
	 color: green;
}

.incomplete-task {
	 color: darkgoldenrod;
}

i {
   cursor: pointer;
}

.center-button {
  text-align: center;
}

.input-field {
   margin:  0 auto;
	width: 75%;
}


body {
    background-image: url("https://pbs.twimg.com/profile_images/378800000113462800/7d6c261f318bf6383fde4cb76659edb1_400x400.png");
    background-color: red;
}

